<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pc.hisenpai">

    <application
        android:allowBackup="true"
        android:icon="@drawable/sawako"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sawako"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="hisenpai"
        >
        <activity android:name=".MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/AppFullScreenTheme"
            android:name=".GreetingsActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>

        <activity
            android:theme="@style/AppFullScreenTheme"
            android:name=".PrizesActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>

    </application>



</manifest>